<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1194014 Faisal Abdullah</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container about">
      <h2>LOREM IPSUM</h2>
      <div class="garis"></div>
      <div class="inner">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quos aspernatur dolorum consectetur pariatur expedita perspiciatis, fugiat obcaecati numquam rem necessitatibus quae maxime autem facere amet, corrupti repellendus ipsa quibusdam voluptates nemo itaque sed exercitationem accusamus veritatis? Placeat minus quasi officia consequatur quis rerum culpa voluptatum a necessitatibus eveniet possimus illum facere dicta cumque sit, blanditiis autem quisquam non nemo? Ullam, quia recusandae tempore voluptas quas ipsum quod dolores suscipit blanditiis perferendis assumenda nesciunt eveniet alias cum odit voluptatem nihil pariatur ipsa eaque dolorum corporis quasi? Provident perferendis vitae fugiat rerum illum labore? Aliquam quas mollitia consequuntur vero quibusdam quaerat!</p>
      </div>
     
    </div>
  </body>
</html>
